# IDEs
/.idea
.phpintel
*.sublime*
*.code-workspace
.vscode

# Build
gulp-config.json
node_modules/
/build/releases
.scannerwork

# Docs
/_site

# Composer
/vendor/
composer.lock
/extensions/libraries/twig/vendor

# Tests
/clover.xml
/tests/coverage
phpunit.xml
